/* CSS Global */
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
body {
  font-family: "Syne", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: 38px;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-family: "Syne", sans-serif;
  font-size: 30px;
  font-weight: 800;
}

h3 {
  font-family: "Syne", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

/* Bouton global Elementor   */
.btn-planty .elementor-button,
.btn-planty.elementor-widget-button .elementor-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 198px;
  height: 55px;
  padding: 0;
  border-radius: 5px;

  background-color: #e0b9b4;
  color: #ffffff;
  text-decoration: none;
  border: none;
  cursor: pointer;

  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
}

.btn-planty .elementor-button:hover,
.btn-planty .elementor-button:focus {
  background-color: #c02e44;
  color: #ffffff;
  outline: none;
}

/* ----------------------------------- CSS Header -----------------------------------------------------*/
#header {
  background: #ffffff;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Taille du logo */
.custom-logo {
  height: auto;
  width: 201px;
  margin-left: 37px;
}

#menu .menu {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

#menu .menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 16px;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  line-height: 1;
}

#menu .menu a:hover {
  font-size: 13px;
  font-weight: 700;
}

#menu .menu-item-16 a {
  background-color: #e0b9b4;
  color: #ffffff;
  width: 236px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

#menu .menu-item-16 a:hover {
  background-color: #c02e44;
  font-weight: 700;
  font-size: 16px;
}

/* ----------------------------------- CSS footer -----------------------------------------------------*/
#footer {
  background: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
}

#footer nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-menu a {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

/* ----------------------------------- page accueil -----------------------------------------------------*/
/*pseudo element canette + feuille */
.can_avant {
  position: relative;
}
.can_avant::before {
  content: "";
  position: absolute;
  width: 349px;
  height: 400px;
  right: 200px;
  bottom: 70px;
  z-index: -1;
  background: url("../images/feuille_gauche.png");
}
.can_avant::after {
  content: "";
  position: absolute;
  width: 349px;
  height: 400px;
  left: 190px;
  bottom: 80px;
  z-index: -1;
  background: url("../images/feuille_droite.png");
}

/* ----------------------------------- page nous rencontrer -----------------------------------------------------*/
/*pseudo element titre*/
.deco_titre {
  position: relative;
}

.deco_titre::before {
  content: "";
  position: absolute;
  left: -170px;
  top: -83px;
  width: 145px;
  height: 151px;
  background-image: url("../images/deco_rencontre.png");
  background-size: contain;
}

/*pseudo element section equipe*/
.deco_equipe {
  position: relative;
}
.deco_equipe::before {
  content: "";
  position: absolute;
  left: 325px;
  top: 103px;
  width: 191px;
  height: 219px;
  z-index: 1;
  background-image: url("../images/feuille_gauche.png");
  background-size: contain;
}

/*------- Formulaire de contact -------*/
#form_contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Les labels (Nom, E-mail, Message) */
.wpcf7 form label {
  display: block;
  margin-bottom: 20px;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

/* Espace entre le texte du label et le champ en dessous */
.wpcf7 form label .wpcf7-form-control-wrap {
  display: block;
  margin-top: 15px;
}

/* Champs texte, email et textarea */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  display: block;
  width: 383px;
  max-width: 100%;
  height: 71px;
  background: #ffffff;
  border: none;
  border-radius: 7px;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.04);
  outline: none;
}

/* Textarea pour champ texte */
.wpcf7 textarea {
  min-height: 237px;
}

/* Bouton Envoyer */
.wpcf7 input[type="submit"] {
  display: block;
  width: 198px;
  height: 55px;
  margin: 20px auto 0;
  border: none;
  border-radius: 5px;
  background-color: #e0b9b4;
  color: #ffffff;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
/* Effet survol et au clic */
.wpcf7 input[type="submit"]:hover {
  background-color: #c02e44;
}

/*pseudo element du formulaire*/
.deco_form {
  position: relative;
}
.deco_form::before {
  content: "";
  position: absolute;
  right: 301px;
  bottom: 47px;
  width: 147px;
  height: 134px;
  background-image: url("../images/feuille_form.png");
  background-size: contain;
}

/* Masquer la déco quand le formulaire affiche un message */
.deco_form:has(.wpcf7-response-output:not(:empty))::before {
  display: none;
}

/* ----------------------------------- page commander -----------------------------------------------------*/
/*Formulaire de commande*/
.wpcf7-commande .commande-planty {
  font-family: "Syne", sans-serif;
  color: #ffffff;
}

/* Titres */
.wpcf7-commande .commande-planty h2 {
  color: #ffffff;
  font-family: "Syne", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin: 30px 0 20px;
}

/*Rangée des 4 vignettes (fruits + un compteur)*/
.wpcf7-commande .commande-planty .vignettes {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.wpcf7-commande .commande-planty .vignette {
  position: relative; /*pour positionner le titre par-dessus */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

/* Nouveau wrapper autour de l’image*/
.wpcf7-commande .commande-planty .vignette .vignette-media {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

/* Image */
.wpcf7-commande .commande-planty .vignette .vignette-media img {
  display: block;
  width: 100%;
  max-width: 180px;
  height: auto;
  align-items: center;
  object-fit: cover;
}

/* Titre centré sur l’image */
.wpcf7-commande .commande-planty .vignette .vignette-title {
  position: absolute;
  inset: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  z-index: 2;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}

/* Champ quantité */
.wpcf7-commande .commande-planty .qty-input {
  width: 39px;
  height: 56px;
  font-family: "Syne", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: #ffffff;
  color: #000000;
  padding: 0;
  box-shadow: none;
  outline: none;
}
.wpcf7-commande .commande-planty .qty-input::-webkit-outer-spin-button,
.wpcf7-commande .commande-planty .qty-input::-webkit-inner-spin-button {
  -webkit-appearance: none; /*enleve flêche naviguateur*/
  margin: 0;
}

/* Séparateur */
.wpcf7-commande .commande-planty .sep {
  border: 0;
  border-top: 1px solid #ffffff;
  width: 100%;
  max-width: 100%;
  margin: 50px auto;
  opacity: 1;
}

/* Deux colonnes infos + livraison */
.wpcf7-commande .commande-planty .infos-livraison {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: start;
  max-width: 100%;
  margin-bottom: 50px;
}

/* Colonnes */
.wpcf7-commande .commande-planty .infos-livraison .col {
  display: flex;
  flex-direction: column;
}

/* Colonne droite avec barre verticale */
.wpcf7-commande .commande-planty .infos-livraison .col-right {
  position: relative;
  padding-left: 50px; /* marge entre barre et champs */
}
.wpcf7-commande .commande-planty .infos-livraison .col-right:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #ffffff;
  opacity: 1;
}

.wpcf7-commande .commande-planty label {
  display: block;
  margin-bottom: 15px;
  margin-top: 25px;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.wpcf7-commande .commande-planty .infos-livraison input[type="text"],
.wpcf7-commande .commande-planty .infos-livraison input[type="email"] {
  width: 100%;
  height: 71px;
  border-radius: 7px;
  background: #ffffff;
  color: #000000;
  padding: 0 12px;
  font-size: 16px;
  outline: none;
}

/* Bouton Commander */
.wpcf7-commande input[type="submit"] {
  display: block;
  width: 198px;
  height: 55px;
  margin: 20px auto 0;
  border: none;
  border-radius: 5px;
  background-color: #e0b9b4;
  color: #ffffff;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
/* Effet survol et au clic */
.wpcf7-commande input[type="submit"]:hover {
  background-color: #c02e44;
}

/* Gestion affichage message d'erreur sur les 2 formulaires*/
.wpcf7-not-valid-tip {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #c02e44;
  margin-top: 8px;
}

/* Message global CF7 */
.wpcf7 .wpcf7-response-output {
  font-family: "Syne", sans-serif;
  font-size: 16px;
}

/* -------------------------------------- Responsive -------------------------------------------------------- */
/*------ Header ------*/
@media (max-width: 716px) {
  /* Logo plus petit */
  .custom-logo {
    width: 160px;
    margin-left: 10px;
  }

  /* moins d’espace entre les liens */
  #menu .menu {
    gap: 12px; /* au lieu de 32px */
  }

  /* Liens plus compacts */
  #menu .menu a {
    padding: 0 10px;
    font-size: 15px;
  }

  /* Bouton Commander un peu réduit */
  #menu .menu-item-16 a {
    width: 180px;
    padding: 0 12px;
    font-size: 15px;
  }
}

/*mobile : logo au-dessus, menu en dessous*/
@media (max-width: 500px) {
  #header {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0 10px;
  }

  /* Logo réduit et centré */
  .custom-logo {
    margin: 0 0 8px 0;
    width: 150px;
    height: auto;
  }

  /* menu en colonne */
  #menu .menu {
    align-items: center;
    gap: 1px;
  }

  /* Liens */
  #menu .menu a {
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Bouton Commander */
  #menu .menu-item-16 a {
    width: 115px;
    height: 45px;
  }
}

/*------ accueil ------*/
/*feuilles pseuso element*/
@media (max-width: 768px) {
  .can_avant::before,
  .can_avant::after {
    width: 300px;
    height: 351px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .can_avant::before {
    right: 194px;
    bottom: 50px;
  }

  .can_avant::after {
    left: 180px;
    bottom: 50px;
  }
}
@media (max-width: 480px) {
  .can_avant::before,
  .can_avant::after {
    width: 200px;
    height: 230px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .can_avant::before {
    right: 193px;
    bottom: 80px;
  }

  .can_avant::after {
    left: 185px;
    bottom: 60px;
  }
}
/* Ajustement pour petits écrans */
@media (max-width: 360px) {
  .can_avant::before,
  .can_avant::after {
    width: 170px;
    height: 200px;
  }

  .can_avant::before {
    right: 137px;
    bottom: 45px;
  }

  .can_avant::after {
    left: 135px;
    bottom: 35px;
  }
}
/*------ page commander ------*/
@media (max-width: 1144px) and (min-width: 769px) {
  .wpcf7-commande .commande-planty {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*Formulaire de commande*/
@media (max-width: 900px) {
  .wpcf7-commande .commande-planty .infos-livraison {
    grid-template-columns: 1fr; /* 1 colonne */
  }
  .wpcf7-commande .commande-planty .infos-livraison .col-right {
    padding-left: 0;
  }
  .wpcf7-commande .commande-planty .infos-livraison .col-right:before {
    display: none;
  }
}

@media (max-width: 768px) {
  /* marge latérale globale */
  .wpcf7-commande .commande-planty {
    padding: 0 20px;
  }
  /* vignettes centrées */
  .wpcf7-commande .commande-planty .vignettes {
    justify-content: center;
  }
  .commande-planty .infos-livraison .col-right {
    padding-left: 0;
  }
  .commande-planty .infos-livraison .col-right:before {
    display: none;
  }
}

/*------ page nous rencontrer ------*/
/*Formulaire de contact*/
@media (max-width: 768px) {
  #form_contact {
    padding: 0 20px;
  }
  #form_contact form {
    width: 100%;
    align-items: stretch;
  }

  #form_contact .wpcf7 input[type="text"],
  #form_contact .wpcf7 input[type="email"],
  #form_contact .wpcf7 textarea {
    width: 100%;
    max-width: 100%;
  }
}
