/*
Theme Name: Planty Child
Theme URI: https://github.com/Meli-Projects/planty.git
Descritpion: Thème enfant basé sur BlankSlate pour le projet Planty (OpenClassrooms)
Author: Mélisande LEFILS
Author URI: https://github.com/Meli-Projects
Template: blankslate
Version: 1.0.0
License: GNU General Public License v3 or Later
License URI: https0000://www.gnu.org/licenses/gpl.html
Tags: boissons, énergisantes, plantes
Text Domain: planty-child
*/
